body{
	color : black;
	background-color:white;
}

.textinput {
	background-color:white;
	border-color:rgb(233, 233, 233);
	border-radius:25px;
	border-width:5px;
	padding-left:10px;
	padding-right:10px;
}

#input1 {
	width:300px;
}

#input1::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	font-size: 0.8em;
}
#input1::-moz-placeholder { /* Firefox 19+ */
	font-size: 0.8em;
}
#input1:-ms-input-placeholder { /* IE 10+ */
	font-size: 0.8em;
}
#input1:-moz-placeholder { /* Firefox 18- */
	font-size: 0.8em;
}

.searchbutton {
	margin-top: 20px;
	background-color:mediumspringgreen;
	border-color:mediumspringgreen;
	border-radius:25px;
	border-width:5px;
	color:mintcream;
	padding: 5px 30px 5px 30px;
	font-size: 2em;
}

#map {
	margin-top:10px;
	height:400px;
	width: 100%;
  }

#button1, #button2,#button3,#button4,#button5 {
	width:100%;
}
#button1 {
	width:80%;	
	margin: auto;
}
#link2 {
	text-decoration: underline;
	color: #007bff;
}

#link5 {
	text-decoration: underline;
	color: #007bff;
}

#p1 {
	font-size: 1.25em;
	margin-left:auto;
}

#button3 {
	background-color: #7a7a7a;
	border-color:#7a7a7a;
}
#button4 {
	background-color: #60cc8a;
	border-color:#60cc8a;
}

.modal-body img {
	width:100%;
	height:auto;
}

@media (max-width:768px) {
	.btn-success {
		width: 100%;
		font-weight: 0.5em;
	}
}

.mastfoot .inner {
	margin:0;
    padding:0;
}

.test {
	background-color: rgba(255, 255, 255,0.5)
}