body{
	color : black;
	background-color:white;
}

.textinput {
	background-color:white;
	border-color:rgb(233, 233, 233);
	border-radius:25px;
	border-width:5px;
	padding-left:10px;
	padding-right:10px;
}

.searchbutton {
	margin-top: 20px;
	background-color:mediumspringgreen;
	border-color:mediumspringgreen;
	border-radius:25px;
	border-width:5px;
	color:mintcream;
	padding: 5px 30px 5px 30px;
	font-size: 2em;
}

#map {
	margin-top:10px;
	height:400px;
	width: 100%;
  }

  #button1, #button2 {
	  width:100%;
  }

.modal-body img {
	width:100%;
	height:auto;
}

@media (max-width:768px) {
	.btn-success {
		width: 100%;
		font-weight: 0.5em;
	}
}
